<%# <p class="blockquote-footer mb-0 font-italic"><%=@question%></p>

<%# <h3>Coach answers</h1>
<p class="blockquote-footer mb-0 font-italic"><%= @answer %>

<section class="vh-100 bg-body-tertiary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 col-xl-8">
        <figure class="note note-primary p-4">
          <blockquote class="blockquote">
            <p class="pb-2">
            <%=@question%>
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0">
            You
          </figcaption>
        </figure>

        <figure class="note note-secondary p-4">
          <blockquote class="blockquote">
            <p class="pb-2">
              <%= @answer %>
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0">
          Your Coach
          </figcaption>
        </figure>

<!-- HELPERS -->

<%= link_to 'Ask a new question', ask_path %>
